<%= simple_form_for(@music, html: {class: "form-horizontal"}) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="navbar form-signin well">
    <%= f.input :name, placeholder: 'Music Name' %>
    <%= f.input :format,placeholder: 'Mp3,Mp4,..etc..' %>
    <%= f.input :length, placeholder: 'HH:MM:SS' %>
    <%= f.input :size, placeholder: 'Mb,Gb' %>
    <%= f.button :submit %>
  </div>
  <div class="container">
    </div>
<% end %>
