<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <title>Musicmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track', 'sorttable' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Music Manager", "https://saisoundmanager.herokuapp.com", class: "navbar-brand" %>
            <!--<a class="navbar-brand" href="http://localhost:3000">Music Manager</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "New Music", new_music_path%></li>
              <li><%= link_to "All Music", musics_path%></li>
              <li><%= link_to "Contact", "https://www.linkedin.com/in/saipathyam"%></li>
            </ul>
          </div><!--/.nav-collapse -->
           </div><!--/.container-fluid -->
      </nav>
<div class="container">
	<%= yield %>
</div>
 
</body>
  
       
</html>
